{
	"parser": "babel-eslint",
	"env": {
		"browser": true,
		"node": true
	},
	"settings": {
		"import/resolver": {
			"webpack": {
				"config": "webpack.config.js"
			}
		}
	},
	"extends": ["airbnb", "prettier", "plugin:flowtype/recommended"]
}
